<section>
    <div class="container">
        <div class="popup" id="popup">
                                <h2 class="">Thank you</h2>
                                <p>Your order has successfully placed. Thanks!</p>
                                <button class="btn btn-white" onclick="closePopup()">Close</button>
                                <a href="/orders" class="btn btn-info">Go to orders</a>
                            </div>
    </div>
</section>