 <section>
        <div class="container mt-5">
            <div class="row">
                {{#each products}}
                <div class="col-md-3 p-3">
                    <div class="card p-2" style="width: 15rem;height:28rem">
                        <img class="card-img-top"
                            src="/product-images/{{this.product._id}}.jpg"  style="height:22rem;width:13rem;"                       alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.product.name}}</h5>
                            <h6 class="card-text">Quantity: {{this.quantity}}</h6>
                            <p class="card-text">Rs. {{this.product.price}}</p>
                            
                        </div>
                    </div>
                </div>
                {{/each}}
                
            </div>
        </div>
    </section>